@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --collection-1-color: rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    /* 테스팅용 */
    --components-alert-heading-font-family: "Inter", Helvetica;
    --components-alert-heading-font-size: 16px;
    --components-alert-heading-font-style: normal;
    --components-alert-heading-font-weight: 700;
    --components-alert-heading-letter-spacing: 0px;
    --components-alert-heading-line-height: 150%;
    --components-badge-default-font-family: "Inter", Helvetica;
    --components-badge-default-font-size: 14px;
    --components-badge-default-font-style: normal;
    --components-badge-default-font-weight: 600;
    --components-badge-default-letter-spacing: 0px;
    --components-badge-default-line-height: 100%;
    --components-badge-large-font-family: "Inter", Helvetica;
    --components-badge-large-font-size: 16px;
    --components-badge-large-font-style: normal;
    --components-badge-large-font-weight: 600;
    --components-badge-large-letter-spacing: 0px;
    --components-badge-large-line-height: 100%;
    --components-badge-small-font-family: "Inter", Helvetica;
    --components-badge-small-font-size: 12px;
    --components-badge-small-font-style: normal;
    --components-badge-small-font-weight: 600;
    --components-badge-small-letter-spacing: 0px;
    --components-badge-small-line-height: 100%;
    --components-button-default-font-family: "Inter", Helvetica;
    --components-button-default-font-size: 16px;
    --components-button-default-font-style: normal;
    --components-button-default-font-weight: 700;
    --components-button-default-letter-spacing: 0px;
    --components-button-default-line-height: 150%;
    --components-button-large-font-family: "Inter", Helvetica;
    --components-button-large-font-size: 20px;
    --components-button-large-font-style: normal;
    --components-button-large-font-weight: 700;
    --components-button-large-letter-spacing: 0px;
    --components-button-large-line-height: 150%;
    --components-button-small-font-family: "Inter", Helvetica;
    --components-button-small-font-size: 14px;
    --components-button-small-font-style: normal;
    --components-button-small-font-weight: 700;
    --components-button-small-letter-spacing: 0px;
    --components-button-small-line-height: 150%;
    --components-copy-default-font-family: "Inter", Helvetica;
    --components-copy-default-font-size: 12px;
    --components-copy-default-font-style: normal;
    --components-copy-default-font-weight: 400;
    --components-copy-default-letter-spacing: 0px;
    --components-copy-default-line-height: 150%;
    --components-copy-tooltip-font-family: "Inter", Helvetica;
    --components-copy-tooltip-font-size: 8px;
    --components-copy-tooltip-font-style: normal;
    --components-copy-tooltip-font-weight: 400;
    --components-copy-tooltip-letter-spacing: 0px;
    --components-copy-tooltip-line-height: 150%;
    --components-divider-default-font-family: "Inter", Helvetica;
    --components-divider-default-font-size: 16px;
    --components-divider-default-font-style: normal;
    --components-divider-default-font-weight: 400;
    --components-divider-default-letter-spacing: 0px;
    --components-divider-default-line-height: 150%;
    --components-divider-label-font-family: "Inter", Helvetica;
    --components-divider-label-font-size: 14px;
    --components-divider-label-font-style: normal;
    --components-divider-label-font-weight: 400;
    --components-divider-label-letter-spacing: 0px;
    --components-divider-label-line-height: 150%;
    --components-field-default-font-family: "Inter", Helvetica;
    --components-field-default-font-size: 16px;
    --components-field-default-font-style: normal;
    --components-field-default-font-weight: 400;
    --components-field-default-letter-spacing: 0px;
    --components-field-default-line-height: 150%;
    --components-field-large-font-family: "Inter", Helvetica;
    --components-field-large-font-size: 20px;
    --components-field-large-font-style: normal;
    --components-field-large-font-weight: 400;
    --components-field-large-letter-spacing: 0px;
    --components-field-large-line-height: 150%;
    --components-field-small-font-family: "Inter", Helvetica;
    --components-field-small-font-size: 14px;
    --components-field-small-font-style: normal;
    --components-field-small-font-weight: 400;
    --components-field-small-letter-spacing: 0px;
    --components-field-small-line-height: 150%;
    --components-fieldcontrol-default-font-family: "Inter", Helvetica;
    --components-fieldcontrol-default-font-size: 16px;
    --components-fieldcontrol-default-font-style: normal;
    --components-fieldcontrol-default-font-weight: 400;
    --components-fieldcontrol-default-letter-spacing: 0px;
    --components-fieldcontrol-default-line-height: 150%;
    --components-fieldcontrol-large-font-family: "Inter", Helvetica;
    --components-fieldcontrol-large-font-size: 20px;
    --components-fieldcontrol-large-font-style: normal;
    --components-fieldcontrol-large-font-weight: 400;
    --components-fieldcontrol-large-letter-spacing: 0px;
    --components-fieldcontrol-large-line-height: 150%;
    --components-fieldcontrol-small-font-family: "Inter", Helvetica;
    --components-fieldcontrol-small-font-size: 14px;
    --components-fieldcontrol-small-font-style: normal;
    --components-fieldcontrol-small-font-weight: 400;
    --components-fieldcontrol-small-letter-spacing: 0px;
    --components-fieldcontrol-small-line-height: 150%;
    --components-fieldmessages-description-font-family: "Inter", Helvetica;
    --components-fieldmessages-description-font-size: 14px;
    --components-fieldmessages-description-font-style: normal;
    --components-fieldmessages-description-font-weight: 400;
    --components-fieldmessages-description-letter-spacing: 0px;
    --components-fieldmessages-description-line-height: 150%;
    --components-fieldmessages-error-font-family: "Inter", Helvetica;
    --components-fieldmessages-error-font-size: 14px;
    --components-fieldmessages-error-font-style: normal;
    --components-fieldmessages-error-font-weight: 400;
    --components-fieldmessages-error-letter-spacing: 0px;
    --components-fieldmessages-error-line-height: 150%;
    --components-heading-1-font-family: "Inter", Helvetica;
    --components-heading-1-font-size: 48px;
    --components-heading-1-font-style: normal;
    --components-heading-1-font-weight: 300;
    --components-heading-1-letter-spacing: 0px;
    --components-heading-1-line-height: 125%;
    --components-heading-2-font-family: "Inter", Helvetica;
    --components-heading-2-font-size: 40px;
    --components-heading-2-font-style: normal;
    --components-heading-2-font-weight: 400;
    --components-heading-2-letter-spacing: 0px;
    --components-heading-2-line-height: 125%;
    --components-heading-3-font-family: "Inter", Helvetica;
    --components-heading-3-font-size: 32px;
    --components-heading-3-font-style: normal;
    --components-heading-3-font-weight: 500;
    --components-heading-3-letter-spacing: 0px;
    --components-heading-3-line-height: 125%;
    --components-heading-4-font-family: "Inter", Helvetica;
    --components-heading-4-font-size: 24px;
    --components-heading-4-font-style: normal;
    --components-heading-4-font-weight: 600;
    --components-heading-4-letter-spacing: 0px;
    --components-heading-4-line-height: 125%;
    --components-heading-5-font-family: "Inter", Helvetica;
    --components-heading-5-font-size: 20px;
    --components-heading-5-font-style: normal;
    --components-heading-5-font-weight: 700;
    --components-heading-5-letter-spacing: 0px;
    --components-heading-5-line-height: 125%;
    --components-heading-6-font-family: "Inter", Helvetica;
    --components-heading-6-font-size: 16px;
    --components-heading-6-font-style: normal;
    --components-heading-6-font-weight: 800;
    --components-heading-6-letter-spacing: 0px;
    --components-heading-6-line-height: 125%;
    --components-heading-default-font-family: "Inter", Helvetica;
    --components-heading-default-font-size: 16px;
    --components-heading-default-font-style: normal;
    --components-heading-default-font-weight: 400;
    --components-heading-default-letter-spacing: 0px;
    --components-heading-default-line-height: 125%;
    --components-highlightmatch-highlighted-font-family: "Inter", Helvetica;
    --components-highlightmatch-highlighted-font-size: 16px;
    --components-highlightmatch-highlighted-font-style: normal;
    --components-highlightmatch-highlighted-font-weight: 700;
    --components-highlightmatch-highlighted-letter-spacing: 0px;
    --components-highlightmatch-highlighted-line-height: 150%;
    --components-icon-default-font-family: "Inter", Helvetica;
    --components-icon-default-font-size: 16px;
    --components-icon-default-font-style: normal;
    --components-icon-default-font-weight: 400;
    --components-icon-default-letter-spacing: 0px;
    --components-icon-default-line-height: 100%;
    --components-inappmessaging-header-font-family: "Inter", Helvetica;
    --components-inappmessaging-header-font-size: 16px;
    --components-inappmessaging-header-font-style: normal;
    --components-inappmessaging-header-font-weight: 800;
    --components-inappmessaging-header-letter-spacing: 0px;
    --components-inappmessaging-header-line-height: 150%;
    --components-loader-default-font-family: "Inter", Helvetica;
    --components-loader-default-font-size: 12px;
    --components-loader-default-font-style: normal;
    --components-loader-default-font-weight: 400;
    --components-loader-default-letter-spacing: 0px;
    --components-loader-default-line-height: 150%;
    --components-loader-large-font-family: "Inter", Helvetica;
    --components-loader-large-font-size: 14px;
    --components-loader-large-font-style: normal;
    --components-loader-large-font-weight: 400;
    --components-loader-large-letter-spacing: 0px;
    --components-loader-large-line-height: 150%;
    --components-loader-linear-font-family: "Inter", Helvetica;
    --components-loader-linear-font-size: 16px;
    --components-loader-linear-font-style: normal;
    --components-loader-linear-font-weight: 400;
    --components-loader-linear-letter-spacing: 0px;
    --components-loader-linear-line-height: 150%;
    --components-loader-small-font-family: "Inter", Helvetica;
    --components-loader-small-font-size: 8px;
    --components-loader-small-font-style: normal;
    --components-loader-small-font-weight: 400;
    --components-loader-small-letter-spacing: 0px;
    --components-loader-small-line-height: 150%;
    --components-menu-default-font-family: "Inter", Helvetica;
    --components-menu-default-font-size: 16px;
    --components-menu-default-font-style: normal;
    --components-menu-default-font-weight: 400;
    --components-menu-default-letter-spacing: 0px;
    --components-menu-default-line-height: 150%;
    --components-pagination-current-font-family: "Inter", Helvetica;
    --components-pagination-current-font-size: 14px;
    --components-pagination-current-font-style: normal;
    --components-pagination-current-font-weight: 400;
    --components-pagination-current-letter-spacing: 0px;
    --components-pagination-current-line-height: 150%;
    --components-phonenumberfield-default-font-family: "Inter", Helvetica;
    --components-phonenumberfield-default-font-size: 16px;
    --components-phonenumberfield-default-font-style: normal;
    --components-phonenumberfield-default-font-weight: 400;
    --components-phonenumberfield-default-letter-spacing: 0px;
    --components-phonenumberfield-default-line-height: 150%;
    --components-placeholder-default-font-family: "Inter", Helvetica;
    --components-placeholder-default-font-size: 16px;
    --components-placeholder-default-font-style: normal;
    --components-placeholder-default-font-weight: 400;
    --components-placeholder-default-letter-spacing: 0px;
    --components-placeholder-default-line-height: 150%;
    --components-rating-default-font-family: "Inter", Helvetica;
    --components-rating-default-font-size: 16px;
    --components-rating-default-font-style: normal;
    --components-rating-default-font-weight: 400;
    --components-rating-default-letter-spacing: 0px;
    --components-rating-default-line-height: 150%;
    --components-select-default-font-family: "Inter", Helvetica;
    --components-select-default-font-size: 16px;
    --components-select-default-font-style: normal;
    --components-select-default-font-weight: 400;
    --components-select-default-letter-spacing: 0px;
    --components-select-default-line-height: 150%;
    --components-selectfield-default-font-family: "Inter", Helvetica;
    --components-selectfield-default-font-size: 16px;
    --components-selectfield-default-font-style: normal;
    --components-selectfield-default-font-weight: 400;
    --components-selectfield-default-letter-spacing: 0px;
    --components-selectfield-default-line-height: 150%;
    --components-sliderfield-default-font-family: "Inter", Helvetica;
    --components-sliderfield-default-font-size: 16px;
    --components-sliderfield-default-font-style: normal;
    --components-sliderfield-default-font-weight: 400;
    --components-sliderfield-default-letter-spacing: 0px;
    --components-sliderfield-default-line-height: 150%;
    --components-stepperfield-input-font-family: "Inter", Helvetica;
    --components-stepperfield-input-font-size: 16px;
    --components-stepperfield-input-font-style: normal;
    --components-stepperfield-input-font-weight: 400;
    --components-stepperfield-input-letter-spacing: 0px;
    --components-stepperfield-input-line-height: 150%;
    --large-font-family: "Inter", Helvetica;
    --large-font-size: 20px;
    --large-font-style: normal;
    --large-font-weight: 400;
    --large-letter-spacing: 0px;
    --large-line-height: 150%;
    --medium-font-family: "Inter", Helvetica;
    --medium-font-size: 16px;
    --medium-font-style: normal;
    --medium-font-weight: 400;
    --medium-letter-spacing: 0px;
    --medium-line-height: 150%;
    --small-font-family: "Inter", Helvetica;
    --small-font-size: 14px;
    --small-font-style: normal;
    --small-font-weight: 400;
    --small-letter-spacing: 0px;
    --small-line-height: 150%;
    --xl-font-family: "Inter", Helvetica;
    --xl-font-size: 24px;
    --xl-font-style: normal;
    --xl-font-weight: 400;
    --xl-letter-spacing: 0px;
    --xl-line-height: 150%;
    --xs-font-family: "Inter", Helvetica;
    --xs-font-size: 12px;
    --xs-font-style: normal;
    --xs-font-weight: 400;
    --xs-letter-spacing: 0px;
    --xs-line-height: 150%;
    --xxl-font-family: "Inter", Helvetica;
    --xxl-font-size: 32px;
    --xxl-font-style: normal;
    --xxl-font-weight: 400;
    --xxl-letter-spacing: 0px;
    --xxl-line-height: 150%;
    --xxs-font-family: "Inter", Helvetica;
    --xxs-font-size: 8px;
    --xxs-font-style: normal;
    --xxs-font-weight: 400;
    --xxs-letter-spacing: 0px;
    --xxs-line-height: 150%;
    --xxxl-font-family: "Inter", Helvetica;
    --xxxl-font-size: 40px;
    --xxxl-font-style: normal;
    --xxxl-font-weight: 400;
    --xxxl-letter-spacing: 0px;
    --xxxl-line-height: 150%;
    --xxxs-font-family: "Inter", Helvetica;
    --xxxs-font-size: 6px;
    --xxxs-font-style: normal;
    --xxxs-font-weight: 400;
    --xxxs-letter-spacing: 0px;
    --xxxs-line-height: 150%;
    --xxxxl-font-family: "Inter", Helvetica;
    --xxxxl-font-size: 48px;
    --xxxxl-font-style: normal;
    --xxxxl-font-weight: 400;
    --xxxxl-letter-spacing: 0px;
    --xxxxl-line-height: 150%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 스크롤바 커스텀 스타일 */
::-webkit-scrollbar {
  width: 12px; /* 스크롤바의 너비 설정 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: transparent; /* 스크롤 배경 제거 */
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: #cdcdcd; /* 서브 색상 */
  border-radius: 9999px; /* 라운드된 모서리 */
  border: none; /* 기본적으로 테두리 제거 */
}

/* 스크롤바 핸들 호버 시 */
::-webkit-scrollbar-thumb:hover {
  background: #1c1c1c; /* 호버 시 메인 색상으로 변경 */
  transition: background-color 0.3s; /* 배경색 변경 트랜지션 */
}

/* Firefox를 위한 스크롤바 스타일 */
* {
  scrollbar-width: thin; /* 스크롤바 너비 설정 */
  scrollbar-color: #1c1c1c transparent; /* 스크롤바 색상과 트랙 색상 설정 */
}

/* Firefox에서 스크롤바 핸들 호버 시 */
*:hover {
  scrollbar-color: #cdcdcd transparent; /* 호버 시 메인 색상으로 변경 */
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.OutLine {
  outline: 1px solid purple;
}

.LogoText {
  line-height: -50em;
  font-size: 440px;
}

.Noto {
  font-family: "Noto Sans KR", sans-serif;
}
.noto {
  font-family: var(--font-noto);
}
.Anta {
  font-family: "Anta", sans-serif;
}

/* 궁서체 글씨 */
.Imbue {
  font-family: "Imbue", sans-serif;
}

.Oswald {
  font-family: "Oswald", sans-serif;
}

.Homemade-apple {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-style: normal;
}

/* .Koulen {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
.koulen {
  font-family: var(--font-koulen);
}
.h-1\/12 {
  height: 8.333333%;
}
