@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anta&family=Imbue:opsz,wght@10..100,100..900&family=Noto+Sans+KR:wght@100..900&family=Oswald:wght@200..700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --collection-1-color: rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 스크롤바 커스텀 스타일 */
::-webkit-scrollbar {
  width: 12px; /* 스크롤바의 너비 설정 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: transparent; /* 스크롤 배경 제거 */
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: #cdcdcd; /* 서브 색상 */
  border-radius: 9999px; /* 라운드된 모서리 */
  border: none; /* 기본적으로 테두리 제거 */
}

/* 스크롤바 핸들 호버 시 */
::-webkit-scrollbar-thumb:hover {
  background: #1c1c1c; /* 호버 시 메인 색상으로 변경 */
  transition: background-color 0.3s; /* 배경색 변경 트랜지션 */
}

/* Firefox를 위한 스크롤바 스타일 */
* {
  scrollbar-width: thin; /* 스크롤바 너비 설정 */
  scrollbar-color: #1c1c1c transparent; /* 스크롤바 색상과 트랙 색상 설정 */
}

/* Firefox에서 스크롤바 핸들 호버 시 */
*:hover {
  scrollbar-color: #cdcdcd transparent; /* 호버 시 메인 색상으로 변경 */
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.OutLine {
  outline: 1px solid purple;
}

.LogoText {
  line-height: -50em;
  font-size: 440px;
}

.Noto {
  font-family: "Noto Sans KR", sans-serif;
}

.Anta {
  font-family: "Anta", sans-serif;
}

/* 궁서체 글씨 */
.Imbue {
  font-family: "Imbue", sans-serif;
}

.Oswald {
  font-family: "Oswald", sans-serif;
}

.h-1\/12 {
  height: 8.333333%;
}
